site_name: Cats (test project)

theme:
  name: material
  palette:
    - scheme: default
      primary: pink
      accent: deep purple
  font:
    text: Comic Neue
    code: Roboto Mono

extra:
  generator: false
extra_css:
  - stylesheets/extra.css  